matplotlib==3.3.4
scipy==1.5.4
requests==2.25.1
tqdm==4.56.0
dgl_cu92==0.6.1
numpy==1.19.5
torchvision==0.8.2+cu92
pandas==1.1.5
six==1.16.0
networkx==2.5
matplotlib==3.3.4
nibabel==3.1.1
dgl==0.6.1
fast_pagerank==0.0.4
loader==2017.9.11
outdated==0.2.1
pytorch_lightning==1.4.4
rdkit==2009.Q1-1
scikit_learn==0.24.2
seaborn==0.11.2
tensorboardX==2.4
torch_geometric==1.7.2
torch_scatter==2.0.8
torch_sparse==0.6.11
